Nivel Intermedio/Practica 1/practica1NodeRED.json
[{"id":"15558722.9a6559","type":"tab","label":"Practica_1","disabled":false,"info":""},{"id":"9ca56572.348e48","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8d6fe09e.66b498","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c2ca3d0a.568fa8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1c08cff.0d947","type":"ui_group","name":"Developers","tab":"8d6fe09e.66b498","order":1,"disp":true,"width":"6","collapse":false},{"id":"78a1523f.2585fc","type":"debug","z":"15558722.9a6559","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":120,"wires":[]},{"id":"5b264a18.eda91c","type":"serial in","z":"15558722.9a6559","name":"","serial":"9ca56572.348e48","x":90,"y":180,"wires":[["78a1523f.2585fc","950b9abc.1247e8"]]},{"id":"950b9abc.1247e8","type":"json","z":"15558722.9a6559","name":"","property":"payload","action":"","pretty":false,"x":210,"y":260,"wires":[["f34a3d8f.2bdc","ebe88cff.22a648","9e56fea0.05b7c","578b2dbf.7db48c"]]},{"id":"f34a3d8f.2bdc","type":"debug","z":"15558722.9a6559","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":160,"wires":[]},{"id":"8608be06.a645d","type":"comment","z":"15558722.9a6559","name":"Puerto COM de Arduino","info":"","x":140,"y":140,"wires":[]},{"id":"54829e53.1717f","type":"comment","z":"15558722.9a6559","name":"Convertimos cadena a Objeto JSON","info":"","x":240,"y":220,"wires":[]},{"id":"a46c9e1a.423b08","type":"comment","z":"15558722.9a6559","name":"Mensajes para consola","info":"","x":520,"y":80,"wires":[]},{"id":"ebe88cff.22a648","type":"change","z":"15558722.9a6559","name":"Obtener Valor Temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["13b675a2.151412","3d18bd22.363772"]]},{"id":"13b675a2.151412","type":"debug","z":"15558722.9a6559","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"ad378ba9.10fe08","type":"comment","z":"15558722.9a6559","name":"Separar valores de JSON","info":"","x":410,"y":280,"wires":[]},{"id":"9e56fea0.05b7c","type":"change","z":"15558722.9a6559","name":"Obtener Valor Humedad","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humedad","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[["1facb82a.f513","a44698b2.ef7548"]]},{"id":"1facb82a.f513","type":"debug","z":"15558722.9a6559","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"578b2dbf.7db48c","type":"change","z":"15558722.9a6559","name":"Obtener Estado Boton","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Boton","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["2fae1bd2.06176c","c57e25c6.b1df"]]},{"id":"2fae1bd2.06176c","type":"debug","z":"15558722.9a6559","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":260,"wires":[]},{"id":"e24d54d9.05162","type":"comment","z":"15558722.9a6559","name":"Interface Web","info":"","x":710,"y":320,"wires":[]},{"id":"3d18bd22.363772","type":"ui_gauge","z":"15558722.9a6559","name":"","group":"f1c08cff.0d947","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"° C","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":360,"wires":[]},{"id":"a44698b2.ef7548","type":"ui_gauge","z":"15558722.9a6559","name":"","group":"f1c08cff.0d947","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"c57e25c6.b1df","type":"ui_text","z":"15558722.9a6559","group":"f1c08cff.0d947","order":2,"width":0,"height":0,"name":"","label":"Estado","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":440,"wires":[]}]