Taller/Node-RED.json
[{"id":"8fb72506.54df4","type":"tab","label":"Taller_Node-RED","disabled":false,"info":""},{"id":"9ca56572.348e48","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8d6fe09e.66b498","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c2ca3d0a.568fa8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1c08cff.0d947","type":"ui_group","name":"ACTUADORES","tab":"8d6fe09e.66b498","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ae6db55.8df604","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"house/bulb1","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bda00849.2d26d8","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d60a493.7be9738","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"datos","tz":"","charset":"UTF8"},{"id":"1b22894d.190fcf","type":"ui_group","name":"ESTADOS","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a7e8472.a9974c","type":"ui_group","name":"ESTADOS","tab":"8d6fe09e.66b498","order":2,"disp":true,"width":"6","collapse":false},{"id":"b73cb5e4.7debd","type":"mqtt in","z":"8fb72506.54df4","name":"","topic":"casa/led_estado","qos":"0","datatype":"auto","broker":"4ae6db55.8df604","x":160,"y":220,"wires":[["909b3aa9.9a8498","6bd8840f.774324"]]},{"id":"909b3aa9.9a8498","type":"debug","z":"8fb72506.54df4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":220,"wires":[]},{"id":"fcfd1013.a7b2","type":"aedes broker","z":"8fb72506.54df4","name":"Broker MQTT","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":190,"y":140,"wires":[["a85f505f.3479b"]]},{"id":"a85f505f.3479b","type":"debug","z":"8fb72506.54df4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":140,"wires":[]},{"id":"e80fa94b.2e9758","type":"mqtt out","z":"8fb72506.54df4","name":"","topic":"casa/led_activar","qos":"0","retain":"","broker":"4ae6db55.8df604","x":560,"y":360,"wires":[]},{"id":"20c9fcc4.b37334","type":"ui_button","z":"8fb72506.54df4","name":"","group":"f1c08cff.0d947","order":1,"width":0,"height":0,"passthru":false,"label":"Encender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":380,"y":360,"wires":[["e80fa94b.2e9758"]]},{"id":"847f9d0f.76ac","type":"ui_button","z":"8fb72506.54df4","name":"","group":"f1c08cff.0d947","order":2,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":380,"y":400,"wires":[["e80fa94b.2e9758"]]},{"id":"b85935d4.a953e8","type":"ui_switch","z":"8fb72506.54df4","name":"","label":"LUZ","tooltip":"","group":"2a7e8472.a9974c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":320,"wires":[["295cf211.10ffde"]]},{"id":"295cf211.10ffde","type":"function","z":"8fb72506.54df4","name":"","func":"var estado = msg.payload;\nvar topic = msg.topic;\nif (estado == true){\n    msg.payload = \"1\";\n}\nelse msg.payload = \"0\";\nif (topic != \"Estado\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["e80fa94b.2e9758"]]},{"id":"6bd8840f.774324","type":"function","z":"8fb72506.54df4","name":"","func":"var estado = msg.payload;\nmsg.topic = \"Estado\"\nif (estado == \"1\"){\n    msg.payload = true;\n}\nelse msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":260,"wires":[["b85935d4.a953e8"]]}]